[submodule "Assets/Scripts/Submodules/NaughtyAttributes"]
	path = Assets/Scripts/Submodules/NaughtyAttributes
	url = https://github.com/grigorov-v/NaughtyAttributes
[submodule "Assets/Scripts/Submodules/Unity-Events"]
	path = Assets/Scripts/Submodules/Unity-Events
	url = https://github.com/grigorov-v/Unity-Events
[submodule "Assets/Scripts/Submodules/Unity-SceneManagement"]
	path = Assets/Scripts/Submodules/Unity-SceneManagement
	url = https://github.com/grigorov-v/Unity-SceneManagement
[submodule "Assets/Scripts/Submodules/MiniJSON"]
	path = Assets/Scripts/Submodules/MiniJSON
	url = https://github.com/grigorov-v/MiniJSON
[submodule "Assets/Scripts/Submodules/Unity-Controllers"]
	path = Assets/Scripts/Submodules/Unity-Controllers
	url = https://github.com/grigorov-v/Unity-Controllers
[submodule "Assets/Scripts/Submodules/SerializedPropertyValidator"]
	path = Assets/Scripts/Submodules/SerializedPropertyValidator
	url = https://github.com/grigorov-v/SerializedPropertyValidator
